.Container {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh; 
}

.Container h1 {
  font-size: 28px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background: #2E2D4E;
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
}

form button {
  border-radius: 30px;
  background-color: #888AE1;
  height: 40px;
  width: 100%; 
  border: none;
  font-weight: bold;
}

form button:hover {
  opacity: 0.8;
}

form input,
form select {
  border: 1px solid #48456C;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  width: 100%; 
  outline: none;
}

form input:focus,
form select:focus {
  border-color: #888AE1; /* Altera a cor da borda ao focar */
  box-shadow: 0 0 5px rgba(136, 138, 225, 0.5); /* Adiciona um efeito de sombra */
  background-color: #2E2D4E; /* Altera o fundo ao focar */
  color: #fff; /* Garante que o texto continue visível */
}

.error {
  color: red;
  margin-bottom: 10px;
}

.logo {
  width: 150px; /* Define a largura da logo */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Adiciona um espaço abaixo da logo */
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-container input {
  width: 100%; /* Garante que o campo de senha ocupe todo o espaço disponível */
  padding-right: 40px; /* Espaço para o botão de alternar senha */
  border: 1px solid #48456C;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

.password-container input:focus {
  border-color: #888AE1; /* Altera a cor da borda ao focar */
  box-shadow: 0 0 5px rgba(136, 138, 225, 0.5); /* Adiciona um efeito de sombra */
  background-color: #2E2D4E; /* Altera o fundo ao focar */
  color: #fff; /* Garante que o texto continue visível */
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888AE1;
  font-size: 18px;
  height: 100%; /* Garante que o botão ocupe a altura do campo */
  display: flex;
  align-items: center;
  justify-content: center;
}